@model IList<Footer>
@using Project_CarRental.Utilities

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            @foreach (var item in Model)
            {
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">ASIA<span>SKY</span></a></h2>
                        <p>@item.Abstract</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Thông tin</h2>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Home")" class="py-2 d-block">Trang chủ</a></li>
                            <li><a href="@Url.Action("Index","About")" class="py-2 d-block">Giới thiệu</a></li>
                            <li><a href="@Url.Action("Index","Product4")" class="py-2 d-block">Thuê xe</a></li>
                            <li><a href="@Url.Action("Index","Service")" class="py-2 d-block">Dịch vụ</a></li>
                            <li><a href="@Url.Action("Index","Post")" class="py-2 d-block">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Hỗ trợ khách hàng</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">Tùy chọn thanh toán</a></li>
                            <li><a href="#" class="py-2 d-block">Mẹo đặt xe</a></li>
                            <li><a href="#" class="py-2 d-block">Cách hoạt động</a></li>
                            <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bạn có thắc mắc?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@item.Phone</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@item.Email</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> thuộc về ASIASKY | Thiết kế bởi <i class="icon-heart color-danger" aria-hidden="true"></i><a href="#" target="_blank">PhanNhat</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>